flow_stiebel_servicewelt_WPL10.json
[{"id":"dbdd59a0.a9c4","type":"tab","label":"Stiebel Eltron ISG","disabled":false,"info":"Flow for WLP 10I"},{"id":"068c38dc8ddac14b","type":"http request","z":"dbdd59a0.a9c4","name":"Get INFO > ANLAGE","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{servicewelt}}}/?s=1,0","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":1600,"wires":[["32c60221c00cf94d","74ccd6e176dcc16e","acbac2a945811027","970c07d56c48906b","79a80b508b1d3f90","f32bbd16ebc2f2b0","42a99a9c3b28aab4"]]},{"id":"7cb700121e4e564d","type":"inject","z":"dbdd59a0.a9c4","name":"Make request","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"120","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":920,"wires":[["9eba00f223698983"]]},{"id":"d112da58140e03e1","type":"change","z":"dbdd59a0.a9c4","name":"Format for InfluxDB","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       $string(msg.unit): $number(msg.payload)\t   },\t   {\t       \"location\": $string($lowercase(msg.datalocaction))\t    \t   }\t\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2550,"y":2200,"wires":[["35f7252752f0a862"]]},{"id":"7a97ca6330a95a46","type":"http request","z":"dbdd59a0.a9c4","name":"Get INFO > WÄRMEPUMPE","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://{{{servicewelt}}}/?s=1,1","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":2080,"wires":[["df67a33eeb5b1cee","e3492dee8e8edcd8","163eed2d0007fd83","b0ce0142eb539483","83107be0a2436497","f6b94c3a848ec808","a1dabbb7c901a79d","151519e052c1446a","48a66a67ec2bc249","0e9711ecf86b0740","fd65e3f9e3fd903a","b88d86c73bcd5544","235b3f15900e29b1","5b3033f079cffe65"]]},{"id":"881acf801e2e873c","type":"delay","z":"dbdd59a0.a9c4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":420,"y":780,"wires":[["7a97ca6330a95a46"]]},{"id":"bb3d04271be91172","type":"comment","z":"dbdd59a0.a9c4","name":"0: state not set, 1: state set, name as location","info":"","x":1570,"y":2680,"wires":[]},{"id":"9eba00f223698983","type":"change","z":"dbdd59a0.a9c4","name":"Set ISGWeb URL","rules":[{"t":"set","p":"servicewelt","pt":"msg","to":"your SERVICEWELT IP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":780,"wires":[["881acf801e2e873c","068c38dc8ddac14b","2e2542d9d0197826","bca14cfadc62db54"]]},{"id":"f4f97bd7367b9322","type":"template","z":"dbdd59a0.a9c4","name":"Build selector Tecalor / Stiebel Eltron","field":"select","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"tr:contains('{{selectValue}}') ~ tr td:contains('{{selectValue2}}') + td","output":"str","x":2030,"y":2080,"wires":[["5c9bb6275f11d729"]]},{"id":"5c9bb6275f11d729","type":"html","z":"dbdd59a0.a9c4","name":"Parse value","property":"payload","outproperty":"payload","tag":"","ret":"text","as":"single","x":2270,"y":2080,"wires":[["7b67b6476822e34c"]]},{"id":"7b67b6476822e34c","type":"change","z":"dbdd59a0.a9c4","name":"Convert to number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$substringBefore(payload[0], ' ')","tot":"jsonata"},{"t":"change","p":"payload","pt":"msg","from":",","fromt":"str","to":".","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":2200,"wires":[["d2be55f39d4d3128","d112da58140e03e1"]]},{"id":"d2be55f39d4d3128","type":"function","z":"dbdd59a0.a9c4","name":"HA MQTT\\n Set device details","func":"// DEFAULT SETTINGS\nmsg.device = {\n    \"type\": \"heatpump\",\n\n    // DEVICE INFORMATION\n    \"name\": \"Luft-Warme-Pumpe\",\n    \"model\": \"WPL 10 I\",\n    \"manufacturer\": \"Tecalor/Stiebel Eltron\",\n    \"connections\": [['mac', '02:80:AD:XX:XX:XX']],\n    //device_identifiers = [['serial', '233514 9029128631']];\n    \"identifiers\": \"190346 9129/011400\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2190,"y":2300,"wires":[["9b33a24a3c192ed5"]]},{"id":"7e01a782e909bbea","type":"debug","z":"dbdd59a0.a9c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"selectValue","targetType":"msg","statusVal":"","statusType":"auto","x":2260,"y":2400,"wires":[]},{"id":"f032f98e0cf38958","type":"debug","z":"dbdd59a0.a9c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"selectValue2","targetType":"msg","statusVal":"","statusType":"auto","x":2270,"y":2440,"wires":[]},{"id":"df67a33eeb5b1cee","type":"change","z":"dbdd59a0.a9c4","name":"LEISTUNGSAUFNAHME / VD HEIZEN TAG","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"LEISTUNGSAUFNAHME","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"VD HEIZEN TAG","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"Leistungsaufnahme VD Heizen TAg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":1880,"wires":[["e1095178c0e01702"]]},{"id":"e3492dee8e8edcd8","type":"change","z":"dbdd59a0.a9c4","name":"LEISTUNGSAUFNAHME / VD HEIZEN SUMME","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"LEISTUNGSAUFNAHME","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"VD HEIZEN SUMME","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"Leistungsaufnahme VD Heizen Summe","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":1920,"wires":[["65227df4de06e5ce"]]},{"id":"163eed2d0007fd83","type":"change","z":"dbdd59a0.a9c4","name":"LEISTUNGSAUFNAHME / VD WARMWASSER TAG","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"LEISTUNGSAUFNAHME","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"VD WARMWASSER TAG","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"Leistungsaufnahme VD WARMWASSER TAG","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1960,"wires":[["e1095178c0e01702"]]},{"id":"b0ce0142eb539483","type":"change","z":"dbdd59a0.a9c4","name":"LEISTUNGSAUFNAHME / VD WARMWASSER SUMME","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"LEISTUNGSAUFNAHME","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"VD WARMWASSER SUMME","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"Leistungsaufname VD Warmwasser Summe","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":2000,"wires":[["65227df4de06e5ce"]]},{"id":"e1095178c0e01702","type":"change","z":"dbdd59a0.a9c4","name":"Measure 'energy' in 'kWh'","rules":[{"t":"set","p":"measurement","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"kWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1590,"y":2220,"wires":[["f4f97bd7367b9322"]]},{"id":"65227df4de06e5ce","type":"change","z":"dbdd59a0.a9c4","name":"Measure 'energy' in 'MWh'","rules":[{"t":"set","p":"measurement","pt":"msg","to":"energy","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"MWh","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":2340,"wires":[["f4f97bd7367b9322"]]},{"id":"83107be0a2436497","type":"change","z":"dbdd59a0.a9c4","name":"WÄRMEMENGE / VD HEIZEN TAG","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"WÄRMEMENGE","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"VD HEIZEN TAG","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"Wärmemenge VD Heizen TAG","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":2060,"wires":[["e1095178c0e01702"]]},{"id":"f6b94c3a848ec808","type":"change","z":"dbdd59a0.a9c4","name":"WÄRMEMENGE / VD HEIZEN SUMME","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"WÄRMEMENGE","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"VD HEIZEN SUMME","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"Wärmemenge VD Heizen Summe","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":2100,"wires":[["65227df4de06e5ce"]]},{"id":"a1dabbb7c901a79d","type":"change","z":"dbdd59a0.a9c4","name":"WÄRMEMENGE / VD WARMWASSER TAG","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"WÄRMEMENGE","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"VD WARMWASSER TAG","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"Wärmemenge VD Warmwasser TAg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":2140,"wires":[["e1095178c0e01702"]]},{"id":"151519e052c1446a","type":"change","z":"dbdd59a0.a9c4","name":"WÄRMEMENGE / VD WARMWASSER SUMME","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"WÄRMEMENGE","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"VD WARMWASSER SUMME","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"Wärmemenge VD Warmwasser Summe","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":2180,"wires":[["65227df4de06e5ce"]]},{"id":"48a66a67ec2bc249","type":"change","z":"dbdd59a0.a9c4","name":"LAUFZEIT / VD HEIZEN","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"LAUFZEIT","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"VD HEIZEN","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"Laufzeit VD Heizen","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":2220,"wires":[["1ed15742eff4c89b"]]},{"id":"0e9711ecf86b0740","type":"change","z":"dbdd59a0.a9c4","name":"LAUFZEIT / VD WARMWASSER","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"LAUFZEIT","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"VD WARMWASSER","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"Laufzeit VD WArmWasser","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":2260,"wires":[["1ed15742eff4c89b"]]},{"id":"1ed15742eff4c89b","type":"change","z":"dbdd59a0.a9c4","name":"Measure 'time' in 'hours'","rules":[{"t":"set","p":"measurement","pt":"msg","to":"time","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"hour","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":2400,"wires":[["f4f97bd7367b9322"]]},{"id":"3c60e807c239a4af","type":"http request","z":"dbdd59a0.a9c4","name":"Get DIAGNOSE / ANALYSE","method":"GET","ret":"txt","paytoqs":"ignore","url":"{{{servicewelt}}}/?s=2,1","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":2520,"wires":[["a34db2ba0b8536a7","e9bf75e826d9c312","f93ff2a75cf616d3"]]},{"id":"2e2542d9d0197826","type":"delay","z":"dbdd59a0.a9c4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":620,"y":2480,"wires":[["3c60e807c239a4af"]]},{"id":"a34db2ba0b8536a7","type":"change","z":"dbdd59a0.a9c4","name":"WÄRMEPUMPE / HEISSGAS-IST","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"WÄRMEPUMPE","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"HEISSGAS-IST","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"Wärmepumpe Heissgas IST","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":2460,"wires":[["b8346ce182f5e894"]]},{"id":"e9bf75e826d9c312","type":"change","z":"dbdd59a0.a9c4","name":"WÄRMEPUMPE / DRUCK HD","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"WÄRMEPUMPE","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"DRUCK HD","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"Wärmepumpe DRUCK HD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":2500,"wires":[["79d5e63c674a8e9e"]]},{"id":"f93ff2a75cf616d3","type":"change","z":"dbdd59a0.a9c4","name":"WÄRMEPUMPE / DRUCK ND","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"WÄRMEPUMPE","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"DRUCK ND","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"Wärmepmpe DRUCK ND","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":2540,"wires":[["79d5e63c674a8e9e"]]},{"id":"79d5e63c674a8e9e","type":"change","z":"dbdd59a0.a9c4","name":"Measure 'pressure'","rules":[{"t":"set","p":"measurement","pt":"msg","to":"pressure","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"bar","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1550,"y":2500,"wires":[["f4f97bd7367b9322"]]},{"id":"b8346ce182f5e894","type":"change","z":"dbdd59a0.a9c4","name":"Measure 'temperature'","rules":[{"t":"set","p":"measurement","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"celsius","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":2460,"wires":[["f4f97bd7367b9322"]]},{"id":"7b1302ad2c3a39e3","type":"change","z":"dbdd59a0.a9c4","name":"Measure 'temperature'","rules":[{"t":"set","p":"measurement","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"celsius","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":1680,"wires":[["f4f97bd7367b9322"]]},{"id":"32c60221c00cf94d","type":"change","z":"dbdd59a0.a9c4","name":"RAUMTEMPERATUR / SOLLTEMPERATUR HK 1","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"RAUMTEMPERATUR","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"SOLLTEMPERATUR HK 1","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"RAUMTEMPERATUR SOLLTEMPERATUR HK 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":1340,"wires":[["7b1302ad2c3a39e3"]]},{"id":"74ccd6e176dcc16e","type":"change","z":"dbdd59a0.a9c4","name":"WARMWASSER / ISTTEMPERATUR","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"WARMWASSER","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"ISTTEMPERATUR","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"WARMWASSER ISTTEMPERATUR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1380,"wires":[["7b1302ad2c3a39e3"]]},{"id":"acbac2a945811027","type":"change","z":"dbdd59a0.a9c4","name":"WARMWASSER / SOLLTEMPERATUR","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"WARMWASSER","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"SOLLTEMPERATUR","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"WARMWASSER SOLLTEMPERATUR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1420,"wires":[["7b1302ad2c3a39e3"]]},{"id":"970c07d56c48906b","type":"change","z":"dbdd59a0.a9c4","name":"HEIZUNG / AUSSENTEMPERATUR","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"HEIZUNG","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"AUSSENTEMPERATUR","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"Heizung Aussentemperatur","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1460,"wires":[["7b1302ad2c3a39e3"]]},{"id":"79a80b508b1d3f90","type":"change","z":"dbdd59a0.a9c4","name":"HEIZUNG / ISTTEMPERATUR HK 1","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"HEIZUNG","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"ISTTEMPERATUR HK 1","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"HEizung ISTTEMPERATUR HK 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1500,"wires":[["7b1302ad2c3a39e3"]]},{"id":"f32bbd16ebc2f2b0","type":"change","z":"dbdd59a0.a9c4","name":"HEIZUNG / SOLLTEMPERATUR HK 1","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"HEIZUNG","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"SOLLTEMPERATUR HK 1","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"Heizung SOLLtemperatur HK1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1540,"wires":[["7b1302ad2c3a39e3"]]},{"id":"750734e003c24de6","type":"change","z":"dbdd59a0.a9c4","name":"HEIZUNG / FESTWERTSOLLTEMPERATUR","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"HEIZUNG","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"FESTWERTSOLLTEMPERATUR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":1580,"wires":[[]]},{"id":"42a99a9c3b28aab4","type":"change","z":"dbdd59a0.a9c4","name":"HEIZUNG / PUFFERSOLLTEMPERATUR","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"HEIZUNG","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"PUFFERSOLLTEMPERATUR","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"Heizung Puffersolltemperatur","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1620,"wires":[["7b1302ad2c3a39e3"]]},{"id":"b0e5a0103c7ac84c","type":"comment","z":"dbdd59a0.a9c4","name":"Value is 'AUS', how to intepret?","info":"","x":1150,"y":1580,"wires":[]},{"id":"6e91b7be4df81d0c","type":"http request","z":"dbdd59a0.a9c4","name":"Get DIAGNOSE / STATUS","method":"GET","ret":"txt","paytoqs":"ignore","url":"{{{servicewelt}}}/?s=2,0","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":2620,"wires":[["3f291cbcf10642da","d65d96baa069f089","a0e322917aca2d89"]]},{"id":"bca14cfadc62db54","type":"delay","z":"dbdd59a0.a9c4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":620,"y":2580,"wires":[["6e91b7be4df81d0c"]]},{"id":"35f7252752f0a862","type":"influxdb out","z":"dbdd59a0.a9c4","influxdb":"c28e6fc7a094fd44","name":"BUCKET INFLUX","measurement":"LWP","precision":"","retentionPolicy":"","database":"","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"dahoam","bucket":"LWP_Stiebel_Eltron","x":2770,"y":2200,"wires":[]},{"id":"d30550c908eefa38","type":"comment","z":"dbdd59a0.a9c4","name":"Quelle","info":"https://github.com/fucm/node-red","x":190,"y":720,"wires":[]},{"id":"a6a89fca68d67a5c","type":"comment","z":"dbdd59a0.a9c4","name":"MAC Address of ISG","info":"","x":2030,"y":2360,"wires":[]},{"id":"fbfd7143a6ccea16","type":"comment","z":"dbdd59a0.a9c4","name":"TODO: parse as Boolean","info":"","x":1630,"y":1920,"wires":[]},{"id":"83d30a1875cb8ffe","type":"change","z":"dbdd59a0.a9c4","name":"Measure 'state' (Boolean)","rules":[{"t":"set","p":"measurement","pt":"msg","to":"state","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":1880,"wires":[[]]},{"id":"b55aad1da83cee13","type":"change","z":"dbdd59a0.a9c4","name":"ELEKTRISCHE NACHERWÄRMUNG/ BIVALENZTEMPERATUR HZG","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"ELEKTRISCHE NACHERWÄRMUNG","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"BIVALENZTEMPERATUR HZG","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"ELEKTRISCHE NACHERWÄRMUNG BIVALENZTEMPERATUR HZG","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":1720,"wires":[["7b1302ad2c3a39e3"]]},{"id":"a94366f7e43e738a","type":"change","z":"dbdd59a0.a9c4","name":"ELEKTRISCHE NACHERWÄRMUNG / EINSATZGRENZE HZG","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"ELEKTRISCHE NACHERWÄRMUNG","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"EINSATZGRENZE HZG","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"ELEKTRISCHE NACHERWÄRMUNG  EINSATZGRENZE HZG","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1760,"wires":[["83d30a1875cb8ffe"]]},{"id":"526f7314120d27cd","type":"change","z":"dbdd59a0.a9c4","name":"ELEKTRISCHE NACHERWÄRMUNG/ BIVALENZTEMPERATUR WW","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"ELEKTRISCHE NACHERWÄRMUNG","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"BIVALENZTEMPERATUR WW","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"ELEKTRISCHE NACHERWÄRMUNG  BIVALENZTEMPERATUR WW","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":1800,"wires":[["7b1302ad2c3a39e3"]]},{"id":"4e894fd838543c34","type":"change","z":"dbdd59a0.a9c4","name":"ELEKTRISCHE NACHERWÄRMUNG/ EINSATZGRENZE WW","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"ELEKTRISCHE NACHERWÄRMUNG","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"EINSATZGRENZE WW","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"ELEKTRISCHE NACHERWÄRMUNG EINSATZGRENZE WW","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1840,"wires":[["83d30a1875cb8ffe"]]},{"id":"f2bf6de728acf115","type":"comment","z":"dbdd59a0.a9c4","name":"not needed","info":"","x":1080,"y":1760,"wires":[]},{"id":"35021a247a58f9b8","type":"comment","z":"dbdd59a0.a9c4","name":"not needed","info":"","x":1090,"y":1840,"wires":[]},{"id":"2d33a803eac70f32","type":"comment","z":"dbdd59a0.a9c4","name":"not needed","info":"","x":1090,"y":1800,"wires":[]},{"id":"a3829c2147c15834","type":"comment","z":"dbdd59a0.a9c4","name":"not needed","info":"","x":1070,"y":1720,"wires":[]},{"id":"3f291cbcf10642da","type":"change","z":"dbdd59a0.a9c4","name":"RESTSTILLSTANDZEIT / VERDICHTER 1","rules":[{"t":"set","p":"RESTSTILLSTANDZEIT","pt":"msg","to":"ANLAGE","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"VERDICHTER 1","tot":"str"},{"t":"set","p":"datalocation","pt":"msg","to":"RESTSTILLSTANDZEIT VERDICHTER 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":2580,"wires":[["1b9625885e904efb"]]},{"id":"9b33a24a3c192ed5","type":"link out","z":"dbdd59a0.a9c4","name":"To HA MQTT","links":["ba7a9be0.ed2898"],"x":2335,"y":2300,"wires":[]},{"id":"6ccf41b062b37617","type":"html","z":"dbdd59a0.a9c4","name":"Parse value","property":"payload","outproperty":"payload","tag":"","ret":"text","as":"single","x":1730,"y":2600,"wires":[["0a6cbde7a91d8d08"]]},{"id":"3271b63c8047ff8d","type":"template","z":"dbdd59a0.a9c4","name":"Build selector","field":"select","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"table:contains('{{selectValue}}') td.key","output":"str","x":1540,"y":2600,"wires":[["6ccf41b062b37617"]]},{"id":"ce36485274532e15","type":"comment","z":"dbdd59a0.a9c4","name":"0: state not set, 1: state set, name as location","info":"","x":2150,"y":2560,"wires":[]},{"id":"65c5814094b9133d","type":"change","z":"dbdd59a0.a9c4","name":"Measure boolean-'state'","rules":[{"t":"set","p":"measurement","pt":"msg","to":"state","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":2640,"wires":[["3271b63c8047ff8d"]]},{"id":"0a6cbde7a91d8d08","type":"function","z":"dbdd59a0.a9c4","name":"Set boolean states","func":"//node.warn(\"Process new msg!\")\n\nif (msg.payload.length === undefined) {\n    node.error(\"No array passed into this function\");\n    node.status({fill:\"red\",shape:\"ring\",text:\"Input error\"});\n}\n\nvar type = msg.selectValue;\nvar type_lastmsg = context.get(\"lastmsg_\"+type) || new Date();\ncontext.set(\"lastmsg_\"+type, new Date());\n\nvar dict = {};\n\nif ( type == \"ANLAGE\"){\n    // DIAGNOSE - STATUS - ANLAGENSTATUS\n    dict = {\n      \"EVU FREIGABE\": 0,\n      \"PUFFERLADEPUMPE 1\": 0,\n      \"HEIZKREISPUMPE 1\": 0,\n      \"ZIRKULATIONSPUMPE\": 0,\n      \"2. WÄRMEERZEUGER\":0,\n      \"WARMWASSERLADEPUMPE\": 0\n    };\n} else if ( type == \"WÄRMEPUMPEN\" ) {\n    // DIAGNOSE - STATUS - BETRIEBSSTATUS\n    dict = {\n      \"SCHALTPROGRAMM AKTIV\": 0,\n      \"VERDICHTER 1\": 0,\n      \"PUFFERLADEPUMPE 1\": 0,\n      \"FILTERWECHSEL\": 0,\n      \"HEIZKREISPUMPE\": 0,\n      \"EVU-SPERRE B\": 0,\n      \"NHZ 1\": 0,\n      \"NHZ 2\": 0,\n      \"NHZ 1 2\": 0,\n      \"ELEKTRISCHE NACHERWÄRMUNG\": 0,\n      \"ABTAUEN VERDAMPFER B\": 0,\n      \"SERVICE\": 0\n    };\n}\n\nnode.log(\"Test log\")\n\nmsg.payload = dict\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1790,"y":2640,"wires":[["d2312582c1508654"]]},{"id":"d2312582c1508654","type":"function","z":"dbdd59a0.a9c4","name":"Format for InfluxDB","func":"if (typeof msg.payload !== 'object' || msg.payload === null || msg.payload.length === 0) {\n    node.error(\"No object passed into this function\");\n    node.status({fill:\"red\",shape:\"ring\",text:\"Input error\"});\n}\n\nvar named_fields = {};\nvar named_tags = {}\n\nfor(var key in msg.payload) {\n    named_fields[key.toLowerCase()] = msg.payload[key];\n    //node.error(\"new_payload: \" + JSON.stringify(new_payload));\n}\n\nnamed_tags['location'] = msg.selectValue;\n\nmsg.payload = [named_fields, named_tags]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2050,"y":2640,"wires":[["fb88a00bc88f7be0"]]},{"id":"1b9625885e904efb","type":"change","z":"dbdd59a0.a9c4","name":"Measure 'time' in 'seconds'","rules":[{"t":"set","p":"measurement","pt":"msg","to":"time","tot":"str"},{"t":"set","p":"unit","pt":"msg","to":"second","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":2540,"wires":[[]]},{"id":"fb88a00bc88f7be0","type":"delay","z":"dbdd59a0.a9c4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":2300,"y":2640,"wires":[["35f7252752f0a862"]]},{"id":"d65d96baa069f089","type":"change","z":"dbdd59a0.a9c4","name":"ANLAGE ","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"ANLAGE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":2620,"wires":[["65c5814094b9133d"]]},{"id":"a0e322917aca2d89","type":"change","z":"dbdd59a0.a9c4","name":"WÄRMEPUMPEN","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"WÄRMEPUMPEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":2660,"wires":[["65c5814094b9133d"]]},{"id":"fd65e3f9e3fd903a","type":"change","z":"dbdd59a0.a9c4","name":"LAUFZEIT / VD ABTAUEN","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"LAUFZEIT","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"VD ABTAUEN","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"Laufzeit VD ABTAUEN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":2300,"wires":[["1ed15742eff4c89b"]]},{"id":"b88d86c73bcd5544","type":"change","z":"dbdd59a0.a9c4","name":"LAUFZEIT / NHZ 1","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"LAUFZEIT","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"NHZ 1","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"LAUFZEIT  NHZ 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":2340,"wires":[["1ed15742eff4c89b"]]},{"id":"235b3f15900e29b1","type":"change","z":"dbdd59a0.a9c4","name":"LAUFZEIT / NHZ 2","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"LAUFZEIT","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"NHZ 2","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"Laufzeit  NHZ 2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":2380,"wires":[["1ed15742eff4c89b"]]},{"id":"5b3033f079cffe65","type":"change","z":"dbdd59a0.a9c4","name":"LAUFZEIT / NHZ 1/2","rules":[{"t":"set","p":"selectValue","pt":"msg","to":"LAUFZEIT","tot":"str"},{"t":"set","p":"selectValue2","pt":"msg","to":"NHZ 1/2","tot":"str"},{"t":"set","p":"datalocaction","pt":"msg","to":"LAUFZEIT  NHZ 12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":2420,"wires":[["1ed15742eff4c89b"]]},{"id":"d8b0f0caeee13580","type":"comment","z":"dbdd59a0.a9c4","name":"Your Influx DB","info":"","x":2750,"y":2140,"wires":[]},{"id":"bb075ad31c8d3465","type":"comment","z":"dbdd59a0.a9c4","name":"for WPL 10 I","info":"","x":330,"y":720,"wires":[]},{"id":"c28e6fc7a094fd44","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]